
    <div class="container" id="page-content">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-xs-12">

          <div class="panel panel-default">

              <div class="panel-body padding-101520">
                <h3>Recuperar Contraseña</h3>
                <hr/>
                <form method="post" role="form" action="" class="padding-10">
                  <div class="form-group">
                    <label for="email">Correo electronico:</label>
                    <input type="text" name="email" class="form-control" required autofocus placeholder="Introduzca el correo de su cuenta">
                  </div>
                  
                  <button type="submit" class="btn btn-success btn-lg"><i class="fa fa-send"></i> Enviar</button>

                </form>
              </div>
              
          </div>

        </div>

      </div>

      

    </div> <!-- /container -->
