<div class="panel panel-default">

              <div class="panel-body padding-login">

                <div class="logo-login"></div>
                <h3>Iniciar Sesion</h3>
                <form method="post" role="form" action="">
                                    <div class="form-group">
                    <label for="email">Correo electronico:</label>
                    <input type="text" name="email" class="form-control" required autofocus>
                  </div>
                   <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <input type="password" name="password" class="form-control"  required>
                  </div>
                  
                  <button type="submit" class="btn btn-success btn-lg btn-block"><i class="fa fa-sign-in"></i> Iniciar </button>
                  <div class="forgotP">
                    <a href="/login/recovery">Olvide mi contraseña</a>
                  </div> 
                </form>

                <br/>
                <div class="alert alert-danger hide" role="alert">
                  <span class="glyphicon glyphicon-info-sign"></span> Si no haz recibido tu correo electrónico de alta en el sistema, por favor revisa tu correo <strong>Spam/Basura</strong>, muchos sistemas de correo electrónico como outlook, hotmail o gmail cuando reciben de cuentas de correo nuevas optan por enviarlos a estas carpetas. Para más soporte puedes contactarnos a <a href="mailto:auditor@iclic.mx">contacto@iclic.mx</a>.
                </div> <!-- end alert -->
              </div> <!-- end panel-body padding-101520 -->
              
          </div> <!-- end panel  -->



   