########################
# sails
########################
.sails
.waterline
.rigging
.tmp


########################
# node.js / npm
########################
lib-cov
*.seed
#*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
#logs
results

npm-debug.log


########################
# misc / editors
########################
*~
*#
.DS_STORE
.DS.Store
.netbeans
nbproject
.idea
.DS_Store

########################
# local config
########################

config/local.js
config/adapters.js
config/sessions.js
assets/uploads
auditor/assets/uploads

local.js
*adapters.js
sessions.js
uploads



node_modules
