test<!-- extends layout

block content
	div(class="jumbotron masthead")
		div(class="container")
			h1 Invitefire
			p Spread out and Socialize easily your event, get stats, get in touch with your customers
			p
				a(href="#", class="btn btn-success btn-large") Start Now -->