

<div class="row panels">
	<div class="col-sm-5 col-md-3  sidepanel">
		<div class="panel-body"></div>
	</div>
	<div class="col-sm- 7 col-md-9  workspace">
			<div class="panel-body " id="workspace"></div>
	</div>
</div>
