<style type="text/css">
  input[type=radio]{
    margin-left: 18px;
    margin-right: 3px;
  }
</style>

<div class="row">
  <div class="col-xs-12 col-sm-7 col-md-5 col-lg-5">
    <h1 class="page-title txt-color-blueDark"><i class="glyphicon glyphicon-cog"></i> Configuración de Cuenta </h1>
  </div>
</div>


<section class="row" >                   
  <div class="col-md-10">

    <div class="alert">  </div>

    <form class="form-vertical" action="" method="post" id="formProvider">
      <div class="panel panel-default">
        <div class="panel-heading ">                
          <span class="widget-icon"> 
            <i class="fa fa-calendar"></i> 
          </span>
          <h2> Datos del proveedor </h2>
         
        </div>

        <div class="panel-body">                
          <div class="padding-10">
            <div class="col-md-6">
              <div class="form-group">
                <input type="hidden" id="modeForm" name="modeForm" value="add">
                <input type="hidden" id="userid" name="provider[id]" value="0">
                <label class="control-label" for="name">Nombre Comercial: </label>
                <div class="controls">
                  <input type="text" id="nickname" name="provider[nickname]" class="form-control" required="true"/>
                </div>
              </div>
              <div class="form-group">                        
                <label class="control-label" for="name">Razón Social: </label>
                <div class="controls">
                  <input type="text" id="name" name="provider[name]" class="form-control" required="true"/>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="email">Dirección : </label>
                <div class="controls">
                  <textarea  id="address" name="provider[address]" class="form-control" ></textarea>
                </div>
              </div>          
              <div class="form-group">
                <label class="control-label" for="owner">Contacto: </label>
                <div class="controls">
                  <input type="text" id="owner" name="provider[owner]" class="form-control" required="true" />
                </div>
              </div>
            </div> <!-- col-md-5 -->
          <div class="col-md-6">

          <div class="form-group">
            <label class="control-label" for="email">Email de Contacto: </label>
            <div class="controls">
              <input type="email" id="email" name="provider[email]" class="form-control"/>
            </div>
          </div>
            
          <div class="form-group">
            <label class="control-label" for="rfc">RFC: </label>
            <div class="controls">
              <input type="text" id="rfc" name="provider[rfc]" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <label class="control-label" for="phone">Teléfono(s): </label>
            <div class="controls">
              <textarea id="phone" name="provider[phone]" class="form-control" /></textarea>
            </div>
          </div> <!-- end form group -->

          <div class="form-group">
            <div class="process_loader"></div>
        </div>  
        </div> <!-- end panel -->

      

      </div> <!-- col-md-5 -->
               
      <div class="col-md-12">
       
        <div class="form-group">
                         
            <button type="submit" class="btn btn-success btn-sm">
              <i class="glyphicon glyphicon-floppy-saved"> </i>  Guardar
            </button> 
          
        </div> <!-- end form group -->
      </div>

    </form><!-- end suppliers form -->  

  </div>
</section>




<section class="row" >    

  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-heading ">              
        <ul id="mainpane-tab" class="nav nav-tabs pull-right">
          <li class="active"><a href="#userstable-pane" data-toggle="tab"><i class="fa fa-list"></i> Usuarios relacionados</a></li>
          <li class="hide"><a href="#usersform-pane" data-toggle="tab"><i class="fa fa-user"></i> Agregar Usuario </a></li>
        </ul>

      </div> <!-- end panel heading -->

      <div class="panel-body">
        <div class="tab-content padding-10">

          <div class="tab-pane fade in active row no-space" id="userstable-pane">                        
            <div id="usersTableByProvider"></div> <!-- userstable -->
          </div> <!-- end tabcontainer -->
          
          <div class="tab-pane fade row no-space hide" id="usersform-pane">        
                <form class="form-vertical" action="/users/save" method="post" id="formUser">                
                      <div class="row">
                          <div class="col-md-6">
                             <div class="form-group">
                              <input type="hidden" id="modeForm" name="modeForm" value="add">
                              
                              <input type="hidden" name="user[supplier_id]" id="supplier_id">

                              <label class="control-label" for="name">Nombre: </label>
                              <div class="controls">
                                <input type="text" id="full_name" name="user[full_name]" class="form-control" required="true"/>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label" for="email">Email: </label>
                              <div class="controls">
                                <input type="email" id="email" name="user[email]" class="form-control" autocomplete="off" class='disabled' autocomplete="off"/>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="control-label" for="inputPass">Password: </label>
                              <div class="controls">
                          <input type="password" id="password" name="user[password]"  autocomplete="off" class="form-control" disabled='disabled' autocomplete="off">
                          <br>
                                <input type="checkbox" id="updatePass"  value="1" > Cambiar password
                              </div>
                            </div>        
                          </div> <!-- end col-md-6 -->
                          <div class="col-md-6">

                            <div class="form-group">
                              <label for="role" class="control-label">Tipo de usuario: </label>
                              <div class="controls">  
                               <select name="user[role]" id="role" class="form-control">                            
                                </select>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="control-label">Estatus: </label>                    
                              <div class="controls">  
                               <select name="user[status]" id="status" class="form-control">
                                  <option value="1">Activo</option>
                                  <option value="0">Inactivo</option>
                                  <option value="2">Suspendido</option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="controls">                          
                                <button type="submit" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-floppy-saved"> </i> Guardar</button>
                                <button type="button" id="btDeleteUser" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"> </i>Eliminar</button>
                                <button type="button" id="btNewUser" class="btn btn-success btn-xs "><i class="glyphicon glyphicon-plus-sign"> </i>Nuevo</button>
                              </div>
                            </div>                                        
                          </div><!-- end col-md-6 -->                                    
                      </div> <!-- end rows -->                   
                </form><!-- end  form -->
          </div> <!-- end tab usersform-pane -->

        </div> <!-- end padding-10 -->             
      </div> <!-- end panel-body -->        
    
    </div><!--  end panel -->      
  </div> <!-- end col-md-12 -->
</section>


<script>
  $(window).load(function(){
    var Settings = new Core_Settings({role:'<%-session.user.role %>',id:'<%-id %>'});
        Settings.settings();
  });
  </script>

