<!-- navigation -->
    <div class="row nav-aux">
    	<div class="container-fluid">
	    	<h1><i class="fa fa-users"></i> Usuarios</h1>
	        <div class="pull-right">
	        	<button id="btn-new-user" class="btn btn-success"> <i class="fa fa-plus-square" aria-hidden="true"></i> Nuevo </button>
	        </div>
    	</div>
    </div>     