

<div class="row panels">
	<div class="col-md-3  sidepanel">
		<div class="panel-body"></div>
	</div>
	<div class="col-md-9  workspace">
			<div class="panel-body " id="workspace">

			</div>
	</div>
</div>




 <script type="text/javascript">



</script>
