<!-- navigation -->
    <div class="row nav-aux">
    	<div class="container-fluid">
	    	<h1><i class="fa fa-users"></i> Cuenta </h1>
	        <div class="clear fix"></div>
    	</div>
    </div>     