@media print {
	a[href]:after {
    	content: none !important;
	}

   nav#header, aside.navigation, div#ribbon, button#printPage,
   #container-page .top-info .col-xs-4{
   		display: none !important;
   }
   #container-page .top-info .col-xs-8{
	   	width: 100%;
	   	text-align: center !important;
   }
   .ubication {
		color: #333;
		font-weight: 500;
		text-align: center;
	}

	.site-images .col-md-4 {
	    width: 33.33333333333333% !important;
	    float: left;
	    clear: none;
	}

	/*.map-data .col-md-7 {
	    width: 58.333333333333336%; !important;
	    float: left;
	    clear: none;
	}

	.map-data .col-md-5{
	    width: 41.66666666666667%; !important;
	    float: left;
	    clear: none;
	}*/

	.map-data{
		margin-top: -10px;
	}

	/*.map-data #map_canvas{
		height: 200px;
	}*/

	.map-data .panel, .map-data .panel-heading, .map-data .panel-body, 
	.report-data .panel, .report-data .panel-heading, .report-data .panel-body{
		border: none !important;
	}

	.panel-heading h2{
		font-weight: 500;
		font-size: 14px;
	}

	.location-data p strong{
		font-size: 12px;
		font-weight: 300;
	}

	.location-data p {
		border: none !important;
	}





}