        <div class="span7 mainArea pull-left">

          <div class="boxHeader">

            <h3><i class="icon-calendar"></i> Campañas</h3>

            <div class="fix"></div>

          </div>


          <div class="boxcontainer">




        </div>

        <div class="boxFooter">

        </div>

      </div><!--/span-->

      <div class="span4 sidebar pull-right">


          
        <div class="boxcontainer" id="sidebar">

          <div class="formBox" id="sideCont">
          </div>


          </div>
        </div><!--/span-->