<form class="form-horizontal" id="addArt">


    <!-- <label for="inputFrom">De: </label>
    <div class="input-append date" id="dp1" data-date-format="dd-mm-yyyy" >
      <input class="span2 datepicker" size="16" type="text" id="campaign_from1" name="campaign[from1]" readonly required="true"/>
      <span class="add-on">
        <i class="icon-caret-down"></i>
      </span>
    </div>

    <label for="inputTo">al: </label>
    <div class="input-append date" id="dp2" readonly data-date-format="dd-mm-yyyy">
      <input class="span2 datepicker" size="16" type="text" id="campaign_to1" name="campaign[to1]" readonly required="true"/>
      <span class="add-on">
        <i class="icon-caret-down"></i>
      </span>
    </div>

    <label for="inputSupplier">Arte: </label>
    <textarea rows="3" id="campaign_art1" name="campaign[art1]"></textarea> -->

    <div id="rows">

    </div>


    <a href="#" class="btn btn-small" id="addRow">Agregar Arte</a>

    <br/>
    <br/>

     <button type="submit" class='btn btn-primary'>Contratar Sitio</button>

</form>