<div id="searchMapContainer inner">
    <form class="form-inline" id="searchMap" >        
      <label for="inputState">Busqueda por: </label>
      <select id="state" name="state" required="required" class="input-medium">
        <option value="-1">Todos los Estados</option>
        <option value="0">Distrito Federal</option>
        <option value="1">Aguascalientes</option>
        <option value="2">Baja California</option>
        <option value="3">Baja California Sur</option>
        <option value="4">Campeche</option>
        <option value="5">Chiapas</option>
        <option value="6">Chihuahua</option>
        <option value="7">Coahuila</option>
        <option value="8">Colima</option>
        <option value="9">Durango</option>
        <option value="10">Guanajuato</option>
        <option value="11">Guerrero</option>
        <option value="12">Hidalgo</option>
        <option value="13">Jalisco</option>
        <option value="14">Estado de México</option>
        <option value="15">Michoacán</option>
        <option value="16">Morelos</option>
        <option value="17">Nayarit</option>
        <option value="18">Nuevo León</option>
        <option value="19">Oaxaca</option>
        <option value="20">Puebla</option>
        <option value="21">Querétaro</option>
        <option value="22">Quintana Roo</option>
        <option value="23">San Luis Potosí</option>
        <option value="24">Sinaloa</option>
        <option value="25">Sonora</option>
        <option value="26">Tabasco</option>
        <option value="27">Tamaulipas</option>
        <option value="28">Tlaxcala</option>
        <option value="29">Veracruz</option>
        <option value="30">Yucatán</option>
        <option value="31">Zacatecas</option>
      </select>
        ó 
      <select class="" id='list-supplier'></select>
      
      <button type="submit" class="btn btn-primary">Contratar sitios</button>
   

    </form>
</div>