

 <div class="row">

	<!--  <div class="col-md-5 ">
	 	<div class="card">
	 		<div class="card-body card-chart">

	 			<div id="chart-container"></div>

	 		</div>
	 	</div>
	 </div>
	 <div class="col-md-7 ">
	 	<div class="row">
	 		<div class="col-md-6">
	 			<div class="card box box-red">
			 		<div class="card-body ">
			 			<div class="amt">600</div>
			 			<div class="label">Clientes</div>
			 		</div>
			 	</div>
	 		</div>
	 		<div class="col-md-6">
	 			<div class="card box box-red">
			 		<div class="card-body ">
			 			<div class="amt">30,000</div>
			 			<div class="label">Operaciónes</div>
			 		</div>
			 	</div>
	 		</div>
	 		<div class="col-md-6">
	 			<div class="card box box-red">
			 		<div class="card-body ">
			 			<div class="amt">$120,000</div>
			 			<div class="label">Pagos Recibidos</div>
			 		</div>
			 	</div>
	 		</div>
	 		<div class="col-md-6">
	 			<div class="card box box-red">
			 		<div class="card-body ">
			 			<div class="amt">$200,000</div>
			 			<div class="label">Aduedos pendientes</div>
			 		</div>
			 	</div>
	 		</div>
	 	</div>
	 </div> -->

</div>

 <!-- <div class="row">
 	<div class="col-md-12">
 		<div class="card">
 		<div class="row card-body card-padding30">
 			<div id="theTable"></div>
 		</div>
 	</div>
 	</div>
 </div> -->

 <script type="text/javascript">

    var Dash = new Core_Dashboard();
        Dash.index();

</script>
