<!-- navigation -->
    <div class="row nav-aux">
    	<h1><i class="fa fa-dashboard"></i> Dashboard</h1>
     <!--    <a  href="/dashboard" id="nav_dashboard"><i class="fa fa-users"></i> Dashboard </a>
        <a  href="/customers"><i class="fa fa-users"></i> Clientes </a>
        <a  href="/payments"><i class="fa fa-credit-card"></i> Pagos </a>                  
        <a  href="/add/cycle"><i class="fa fa-dashboard"></i>Reportes</a>   -->  
        <div class="clear fix"></div>
    </div>     
