<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-5 col-lg-5">
		<h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-youtube-play"></i> Cines
			<span>&gt; Campaña: Sí Cumple</span>
		</h1>
	</div>
	<div class="col-xs-12 col-sm-5 col-md-7 col-lg-7">
	</div>
</div>

<section id="cineData" class="row">
	<div class="col-xs-8">
		<div class="row">

			<div class="col-xs-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="num cinemas">241</div>
						<span>Complejos</span>
					</div> <!-- end padding-15 -->
				</div> <!-- end-panel-body -->
			</div>

			<div class="col-xs-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="num states">32</div>
						<span>Estados</span>
					</div> <!-- end padding-15 -->
				</div> <!-- end-panel-body -->
			</div>

			<div class="col-xs-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="num screens">2363</div>
						<span>Salas</span>
					</div> <!-- end padding-15 -->
				</div> <!-- end-panel-body -->
			</div>

		</div>
	</div>

	<div class="col-xs-4">
		<div class="col-xs-12">
			<div class="embed-responsive embed-responsive-16by9">
			  <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/105960556" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen width="100%"></iframe>
			</div>
		</div>
	</div>

</section>

<br>

<section  id="mainPane" class="row">

	<div class="col-md-12 col-xs-12">
		<h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-youtube-play"></i> Cinemex</h1>
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="widget-icon">
					<i class="fa fa-video-camera"></i>
				</span>
				<h2>Complejos</h2>
			</div>
			<div class="panel-body">
				<!-- <div class="padding-15"> -->
					<table class="table table-striped table-bordered complex-list" id="cinemaT1">
					  <thead>
						<tr>
						  <th>#</th>
						  <th>Complejo</th>
						  <th>Estado</th>
						  <th>Ciudad</th>
						  <th>Salas</th>
						</tr>
					  </thead>
					  <tbody id="p-1">
						<tr>
						  <td>1</td>
						  <td>Cinemex Altavista</td>
						  <td>DF</td>
						  <td>México</td>
						  <td>6</td>
						</tr>
						<tr>
						  <td>2</td>
						  <td>Cinemex Antara</td>
						  <td>DF</td>
						  <td>México</td>
						  <td>12</td>
						</tr>
						<tr>
						  <td>3</td>
						  <td>Cinemex CNA</td>
						  <td>DF</td>
						  <td>México</td>
						  <td>12</td>
						</tr>
						<tr>
							<td>4</td>
							<td>Cinemex Coapa</td>
							<td>DF</td>
							<td>México</td>
							<td>12</td>
						</tr>
						<tr>
							<td>5</td>
							<td>Cinemex Cuicuilco</td>
							<td>DF</td>
							<td>México</td>
							<td>13</td>
						</tr>
						<tr>
							<td>6</td>
							<td>Cinemex Duraznos</td>
							<td>DF</td>
							<td>México</td>
							<td>10</td>
						</tr>
						<tr>
							<td>7</td>
							<td>Cinemex Felix Cuevas</td>
							<td>DF</td>
							<td>México</td>
							<td>7</td>
						</tr>
						<tr>
							<td>8</td>
							<td>Cinemex Interlomas</td>
							<td>Estado de Mexico</td>
							<td></td>
							<td>13</td>
						</tr>
						<tr>
							<td>9</td>
							<td>Cinemex Lomas Verdes</td>
							<td>Estado de Mexico</td>
							<td></td>
							<td>10</td>
						</tr>
						<tr>
							<td>10</td>
							<td>Cinemex Loreto</td>
							<td>DF</td>
							<td>México</td>
							<td>9</td>
						</tr>
					</tbody>
					<tbody id="p-2">
						<tr>
							<td>11</td>
							<td>Cinemex Mundo E</td>
							<td>Estado de Mexico</td>
							<td></td>
							<td>24</td>
						</tr>
						<tr>
							<td>12</td>
							<td>Cinemex Santa Fé</td>
							<td>DF</td>
							<td>México</td>
							<td>23</td>
						</tr>
						<tr>
							<td>13</td>
							<td>Cinemex Park Plaza Santa fe</td>
							<td>DF</td>
							<td>México</td>
							<td>4</td>
						</tr>
						<tr>
							<td>14</td>
							<td>Cinemex Parque Delta</td>
							<td>DF</td>
							<td>México</td>
							<td>10</td>
						</tr>
						<tr>
							<td>15</td>
							<td>Cinemex Patriotismo</td>
							<td>DF</td>
							<td>México</td>
							<td>9</td>
						</tr>
						<tr>
							<td>16</td>
							<td>Cinemex Pericoapa</td>
							<td>DF</td>
							<td>México</td>
							<td>11</td>
						</tr>
						<tr>
							<td>17</td>
							<td>Cinemex Plaza Lindavista</td>
							<td>DF</td>
							<td>México</td>
							<td>11</td>
						</tr>
						<tr>
							<td>18</td>
							<td>Cinemex Polanco</td>
							<td>DF</td>
							<td>México</td>
							<td>11</td>
						</tr>
						<tr>
							<td>19</td>
							<td>Cinemex Polanco II</td>
							<td>DF</td>
							<td>México</td>
							<td>8</td>
						</tr>
						<tr>
							<td>20</td>
							<td>Cinemex Reforma 222</td>
							<td>DF</td>
							<td>México</td>
							<td>11</td>
						</tr>
					   </tbody>
					   <tbody id="p-3"></tbody>
						<tr>
							<td>21</td>
							<td>Cinemex Triangulo Las animas</td>
							<td>Puebla</td>
							<td>Puebla</td>
							<td>10</td>
						</tr>
						<tr>
							<td>22</td>
							<td>Cinemex Universidad</td>
							<td>DF</td>
							<td>México</td>
							<td>12</td>
						</tr>
						<tr>
							<td>23</td>
							<td>Cinemex WTC</td>
							<td>DF</td>
							<td>México</td>
							<td>14</td>
						</tr>
						<tr>
							<td>24</td>
							<td>Cinemex Plaza Cuernavaca</td>
							<td>Morelos</td>
							<td>Cuernavaca</td>
							<td>16</td>
						</tr>
						<tr>
							<td>25</td>
							<td>Cinemex Plaza Lomas</td>
							<td>Jalisco</td>
							<td>Guadalajara</td>
							<td>15</td>
						</tr>
						<tr>
							<td>26</td>
							<td>Cinemex Punto Sao Paulo</td>
							<td>Jalisco</td>
							<td>Guadalajara</td>
							<td>10</td>
						</tr>
						<tr>
							<td>27</td>
							<td>Cinemex Humberto Lobo</td>
							<td>Nuevo León</td>
							<td>Monterrey</td>
							<td>12</td>
						</tr>
						<tr>
							<td>28</td>
							<td>Cinemex Paseo San Pedro</td>
							<td>Nuevo León</td>
							<td>Monterrey</td>
							<td>9</td>
						</tr>
						<tr>
							<td>29</td>
							<td>MMC San Agustín</td>
							<td>Nuevo León</td>
							<td>Monterrey</td>
							<td>10</td>
						</tr>
						<tr>
							<td>30</td>
							<td></td>
							<td></td>
							<td><strong>TOTAL</strong></td>
							<td><strong>334</strong></td>
						</tr>
					  </tbody>
					</table>
				<!-- </div> -->
				<!-- <div class="text-center">
				  <ul class="pagination text-center" id="table-pag">
					<li id="pag-first"><a >&laquo;</a></li>
					<li class="active" id="pag-1"><a >1</a></li>
					<li id="pag-2"><a >2</a></li>
					<li id="pag-3"><a >3</a></li>
					<li id="pag-last"><a >&raquo;</a></li>
				  </ul>
				</div> -->
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="widget-icon">
					<i class="fa fa-video-camera"></i>
				</span>
				<h2>Grupo 1</h2>
			</div>
			<div class="panel-body">
				<!-- <div class="padding-15"> -->
					<table class="table table-striped table-bordered complex-list">
					  <thead>
						<tr>
						  <th>#</th>
						  <th>Complejo</th>
						  <th>Estado</th>
						  <th>Ciudad</th>
						  <th>Salas</th>
						</tr>
					  </thead>
					  <tbody>
						  <tr>
							 <td >1</td>
							 <td >Cinemex Aragón </td>
							 <td >DF</td>
							 <td >México</td>
							 <td >12</td>
						  </tr>
						  <tr>
							 <td >2</td>
							 <td >Cinemex Cuauhtemoc</td>
							 <td >DF</td>
							 <td >México</td>
							 <td >12</td>
						  </tr>
						  <tr>
							 <td >3</td>
							 <td >Cinemex Claveria</td>
							 <td >DF</td>
							 <td >México</td>
							 <td >6</td>
						  </tr>
						  <tr>
							 <td >4</td>
							 <td >Cinemex Galerias</td>
							 <td >DF</td>
							 <td >México</td>
							 <td >14</td>
						  </tr>
						  <tr>
							 <td >5</td>
							 <td >Cinemex Gran Sur</td>
							 <td >DF</td>
							 <td >México</td>
							 <td >12</td>
						  </tr>
						  <tr>
							 <td >6</td>
							 <td >Cinemex Insurgentes</td>
							 <td >DF</td>
							 <td >México</td>
							 <td >7</td>
						  </tr>
						  <tr>
							 <td >7</td>
							 <td >Cinemex Izcalli</td>
							 <td >DF</td>
							 <td >México</td>
							 <td >12</td>
						  </tr>
						  <tr>
							 <td >8</td>
							 <td >Cinemex Izcalli Platino</td>
							 <td >DF</td>
							 <td >México</td>
							 <td >6</td>
						  </tr>
						  <tr>
							 <td >9</td>
							 <td >Cinemex Iztapalapa</td>
							 <td >DF</td>
							 <td >México</td>
							 <td >12</td>
						  </tr>
						  <tr>
							 <td >10</td>
							 <td >Cinemex Legaria</td>
							 <td >DF</td>
							 <td >México</td>
							 <td >10</td>
						  </tr>
						  <tr>
							 <td >11</td>
							 <td >Cinemex Metepec</td>
							 <td >Estado de México</td>
							 <td >Toluca</td>
							 <td >14</td>
						  </tr>
						  <tr>
							 <td >12</td>
							 <td >Cinemex Palacio Chino</td>
							 <td >DF</td>
							 <td >México</td>
							 <td >11</td>
						  </tr>
						  <tr>
							 <td >13</td>
							 <td >Cinemex Perinorte</td>
							 <td >DF</td>
							 <td >México</td>
							 <td >12</td>
						  </tr>
						  <tr>
							 <td >14</td>
							 <td >Cinemex Real</td>
							 <td >DF</td>
							 <td >México</td>
							 <td >8</td>
						  </tr>
						  <tr>
							 <td >15</td>
							 <td >Cinemex San Antonio</td>
							 <td >DF</td>
							 <td >México</td>
							 <td >11</td>
						  </tr>
						  <tr>
							 <td >16</td>
							 <td >Cinemex San Mateo</td>
							 <td class="s24">México</td>
							 <td ></td>
							 <td >12</td>
						  </tr>
						  <tr>
							 <td >17</td>
							 <td >Cinemex Tenayuca</td>
							 <td >Estado de México</td>
							 <td ></td>
							 <td >9</td>
						  </tr>
						  <tr>
							 <td >18</td>
							 <td >Cinemex Tezontle</td>
							 <td >DF</td>
							 <td >México</td>
							 <td >10</td>
						  </tr>
						  <tr>
							 <td >19</td>
							 <td >Cinemex Ticoman ( Lindavista )</td>
							 <td >DF</td>
							 <td >México</td>
							 <td >14</td>
						  </tr>
						  <tr>
							 <td >20</td>
							 <td >Cinemex Toluca</td>
							 <td >Estado de México</td>
							 <td >Toluca</td>
							 <td >9</td>
						  </tr>
						  <tr>
							 <td >21</td>
							 <td >Cinemex Valle Dorado</td>
							 <td >Estado de México</td>
							 <td ></td>
							 <td >9</td>
						  </tr>
						  <tr>
							 <td >22</td>
							 <td >Cinemex Zona Esmeralda</td>
							 <td >Estado de México</td>
							 <td ></td>
							 <td >12</td>
						  </tr>
						  <tr>
							 <td >23</td>
							 <td >MMC Lerma</td>
							 <td >Estado de México</td>
							 <td >Toluca</td>
							 <td >10</td>
						  </tr>
						  <tr>
							 <td >24</td>
							 <td >MMC Aguascalientes</td>
							 <td >Aguascalientes</td>
							 <td >Aguascalientes</td>
							 <td >10</td>
						  </tr>
						  <tr>
							 <td >25</td>
							 <td >Cinemex Cabo San Lucas</td>
							 <td >Baja California Norte</td>
							 <td >Los cabos</td>
							 <td >10</td>
						  </tr>
						  <tr>
							 <td >26</td>
							 <td >Cinemex Plaza Minarete Tijuana</td>
							 <td >Baja California Norte</td>
							 <td >Tijuana</td>
							 <td >10</td>
						  </tr>
						  <tr>
							 <td >27</td>
							 <td >MMC Macroplaza Tijuana</td>
							 <td >Baja California Norte</td>
							 <td >Tijuana</td>
							 <td >15</td>
						  </tr>
						  <tr>
							 <td >28</td>
							 <td >MMC Plaza Carranza (mexicali)</td>
							 <td >Baja California Norte</td>
							 <td >Mexicali</td>
							 <td >14</td>
						  </tr>
						  <tr>
							 <td class="s25">29</td>
							 <td >Cinemex Mundo Divertido Mexicali</td>
							 <td >Baja California Norte</td>
							 <td >Mexicali</td>
							 <td >7</td>
						  </tr>
						  <tr>
							 <td >30</td>
							 <td >MMC Galerías Tec</td>
							 <td >Chihuahua</td>
							 <td >Cd. Juárez</td>
							 <td >14</td>
						  </tr>
						  <tr>
							 <td >31</td>
							 <td >Intermall </td>
							 <td >Coahuila</td>
							 <td >Torreon</td>
							 <td >12</td>
						  </tr>
						  <tr>
							 <td >32</td>
							 <td >MMC Galerias Saltillo</td>
							 <td >Coahuila</td>
							 <td >Saltillo</td>
							 <td >13</td>
						  </tr>
						  <tr>
							 <td >33</td>
							 <td >MMC Monclova</td>
							 <td >Coahuila</td>
							 <td >Monclova</td>
							 <td >8</td>
						  </tr>
						  <tr>
							 <td >34</td>
							 <td >MMC Colima</td>
							 <td >Colima</td>
							 <td >Colima</td>
							 <td >9</td>
						  </tr>
						  <tr>
							 <td >35</td>
							 <td >MMC Durango</td>
							 <td >Durango</td>
							 <td >Durango</td>
							 <td >14</td>
						  </tr>
						  <tr>
							 <td >36</td>
							 <td >Galerias Leon</td>
							 <td >Guanajuato</td>
							 <td >Leon</td>
							 <td >10</td>
						  </tr>
						  <tr>
							 <td >37</td>
							 <td >MMC Plaza Mayor</td>
							 <td >Guanajuato</td>
							 <td >León</td>
							 <td >16</td>
						  </tr>
						  <tr>
							 <td >38</td>
							 <td >MMC Guanajuato</td>
							 <td >Guanajuato </td>
							 <td >Guanajuato</td>
							 <td >8</td>
						  </tr>
						  <tr>
							 <td >39</td>
							 <td >MMC San Miguel</td>
							 <td >Guanajuato </td>
							 <td >San Miguel de Allende</td>
							 <td >8</td>
						  </tr>
						  <tr>
							 <td >40</td>
							 <td >Cinemex Las Plazas</td>
							 <td >Jalisco</td>
							 <td >Guadalajara</td>
							 <td >10</td>
						  </tr>
						  <tr>
							 <td >41</td>
							 <td >Cinemex Plaza Milenium Guadalajara</td>
							 <td >Jalisco</td>
							 <td >Guadalajara</td>
							 <td >8</td>
						  </tr>
						  <tr>
							 <td >42</td>
							 <td >Macroplaza Vallarta</td>
							 <td >Jalisco</td>
							 <td >Puerto Vallarta</td>
							 <td >13</td>
						  </tr>
						  <tr>
							 <td >43</td>
							 <td >MMC Galerías Vallarta</td>
							 <td >Jalisco</td>
							 <td >Puerto Vallarta</td>
							 <td >10</td>
						  </tr>
						  <tr>
							 <td >44</td>
							 <td >Cinemex Morelia II</td>
							 <td >Michoacan</td>
							 <td >Morelia</td>
							 <td >10</td>
						  </tr>
						  <tr>
							 <td >45</td>
							 <td >Cinemex Morelia</td>
							 <td >Michoacán</td>
							 <td >Morelia</td>
							 <td >15</td>
						  </tr>
						  <tr>
							 <td >46</td>
							 <td >Cinemex Cuautla</td>
							 <td >Morelos</td>
							 <td >Cuautla</td>
							 <td >12</td>
						  </tr>
						  <tr>
							 <td >47</td>
							 <td >Cinemex Diana</td>
							 <td >Morelos</td>
							 <td >Cuernavaca</td>
							 <td >12</td>
						  </tr>
						  <tr>
							 <td >48</td>
							 <td >Cinemex Jacarandas</td>
							 <td >Morelos</td>
							 <td >Cuernavaca</td>
							 <td >10</td>
						  </tr>
						  <tr>
							 <td >49</td>
							 <td >MMC Forum Tepic</td>
							 <td >Nayarit</td>
							 <td >Tepic</td>
							 <td >12</td>
						  </tr>
						  <tr>
							 <td >50</td>
							 <td >Cinemex Plaza Real Monterrey</td>
							 <td >Nuevo León</td>
							 <td >Monterrey</td>
							 <td >8</td>
						  </tr>
						  <tr>
							 <td >51</td>
							 <td >MMC Centrika</td>
							 <td >Nuevo León</td>
							 <td >Monterrey</td>
							 <td >12</td>
						  </tr>
						  <tr>
							 <td >52</td>
							 <td >MMC Contry</td>
							 <td >Nuevo León</td>
							 <td >Monterrey</td>
							 <td >10</td>
						  </tr>
						  <tr>
							 <td >53</td>
							 <td >MMC La Silla</td>
							 <td >Nuevo León</td>
							 <td >Monterrey</td>
							 <td >11</td>
						  </tr>
						  <tr>
							 <td >54</td>
							 <td >MMC Las Plazas Outlet</td>
							 <td >Nuevo León</td>
							 <td >Monterrey</td>
							 <td >11</td>
						  </tr>
						  <tr>
							 <td >55</td>
							 <td >MMC Leones</td>
							 <td >Nuevo León</td>
							 <td >Monterrey</td>
							 <td >10</td>
						  </tr>
						  <tr>
							 <td >56</td>
							 <td >MMC Revolución</td>
							 <td >Nuevo León</td>
							 <td >Monterrey</td>
							 <td >10</td>
						  </tr>
						  <tr>
							 <td >57</td>
							 <td >MMC San Nicolás</td>
							 <td >Nuevo León</td>
							 <td >Monterrey</td>
							 <td >10</td>
						  </tr>
						  <tr>
							 <td >58</td>
							 <td >MMC Santa Catarina</td>
							 <td >Nuevo León</td>
							 <td >Monterrey</td>
							 <td >11</td>
						  </tr>
						  <tr>
							 <td >59</td>
							 <td >MMC Sun Mall</td>
							 <td  >Monterrey</td>
							 <td ></td>
							 <td >13</td>
						  </tr>
						  <tr>
							 <td >60</td>
							 <td >Cinemex Puebla</td>
							 <td >Puebla</td>
							 <td >Puebla</td>
							 <td >11</td>
						  </tr>
						  <tr>
							 <td >61</td>
							 <td >MMC Milenium</td>
							 <td >Puebla</td>
							 <td >Puebla</td>
							 <td >13</td>
						  </tr>
						  <tr>
							 <td >62</td>
							 <td >Cinemex Boulevares Queretaro</td>
							 <td >Queretaro</td>
							 <td >Queretaro</td>
							 <td >12</td>
						  </tr>
						  <tr >
							 <td >63</td>
							 <td >Cinemex La Isla Cancun</td>
							 <td >Quintana Roo</td>
							 <td >Cancún</td>
							 <td >5</td>
						  </tr>
						  <tr >
							 <td >64</td>
							 <td >MMC Cancún</td>
							 <td >Quintana Roo</td>
							 <td >Cancún</td>
							 <td >14</td>
						  </tr>
						  <tr >
							 <td >65</td>
							 <td >MMC Forum Culiacán</td>
							 <td >Sinaloa</td>
							 <td >Culiacán</td>
							 <td >14</td>
						  </tr>
						  <tr >
							 <td >66</td>
							 <td >MMC Galerías Mochis</td>
							 <td >Sinaloa</td>
							 <td >Los Mochis</td>
							 <td >12</td>
						  </tr>
						  <tr >
							 </th>
							 <td >67</td>
							 <td >MMC Plaza Real Reynosa</td>
							 <td >Tamaulipas</td>
							 <td >Reynosa</td>
							 <td >14</td>
						  </tr>
						  <tr >
							 <td >68</td>
							 <td >Cinemex Cordoba</td>
							 <td >Veracruz</td>
							 <td >Veracruz</td>
							 <td >7</td>
						  </tr>
						  <tr >
							 </th>
							 <td >69</td>
							 <td >Cinemex Minatitlan</td>
							 <td >Veracruz</td>
							 <td >Veracruz</td>
							 <td >7</td>
						  </tr>
						  <tr >
							 </th>
							 <td >70</td>
							 <td >Cinemex Veracruz Carso</td>
							 <td >Veracruz</td>
							 <td >Veracruz</td>
							 <td >12</td>
						  </tr>
						  <tr >
							 <td >71</td>
							 <td >MMC Boca del Río</td>
							 <td >Veracruz</td>
							 <td >Veracruz</td>
							 <td >10</td>
						  </tr>
						  <tr >
							 <td >72</td>
							 <td >MMC Forum Coatzacoalcos</td>
							 <td >Veracruz</td>
							 <td >Coatzacoalcos</td>
							 <td >13</td>
						  </tr>
						  <tr >
							 <td >73</td>
							 <td >MMC Patio Poza Rica</td>
							 <td >Veracruz</td>
							 <td >Poza Rica</td>
							 <td >12</td>
						  </tr>
						  <tr >
							 </th>
							 <td >74</td>
							 <td >Cinemex City Center Merida</td>
							 <td >Yucatán</td>
							 <td >Mérida</td>
							 <td >8</td>
						  </tr>
						  <tr >
							 <td >75</td>
							 <td >MMC Galerías Merida (4 PLATINO)</td>
							 <td >Yucatán</td>
							 <td >Mérida</td>
							 <td >12</td>
						  </tr>
						  <tr >
							 </th>
							 <td >76</td>
							 <td >MMC Zacatecas</td>
							 <td >Zacatecas</td>
							 <td >Zacatecas</td>
							 <td >10</td>
						  </tr>
						<tr>
							<td>77</td>
							<td></td>
							<td></td>
							<td><strong>TOTAL</strong></td>
							<td><strong>826</strong></td>
						</tr>

					  </tbody>
					</table>
				<!-- </div> -->
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="widget-icon">
					<i class="fa fa-video-camera"></i>
				</span>
				<h2>Grupo 2</h2>
			</div>
			<div class="panel-body">
				<!-- <div class="padding-15"> -->
					<table class="table table-striped table-bordered complex-list">
					  <thead>
						<tr>
						  <th>#</th>
						  <th>Complejo</th>
						  <th>Estado</th>
						  <th>Ciudad</th>
						  <th>Salas</th>
						</tr>
					  </thead>
					  <tbody>
						<tr>
							<td>1</td>
							<td>Cinemex Coacalco</td>
							<td>Estado de México</td>
							<td></td>
							<td>12</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Cinemex Atlacomulco</td>
							<td>Estado de México</td>
							<td>Toluca</td>
							<td>7</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Cinemex Cd Azteca</td>
							<td>Estado de México</td>
							<td></td>
							<td>12</td>
						</tr>
						<tr>
							<td>4</td>
							<td>Cinemex Chimalhuacan</td>
							<td>DF</td>
							<td>México</td>
							<td>8</td>
						</tr>
						<tr>
							<td>5</td>
							<td>Cinemex Ecatepec</td>
							<td>Estado de México</td>
							<td></td>
							<td>10</td>
						</tr>
						<tr>
							<td>6</td>
							<td>Cinemex Ixtapaluca</td>
							<td>DF</td>
							<td>México</td>
							<td>11</td>
						</tr>
						<tr>
							<td>7</td>
							<td>Cinemex La Viga</td>
							<td>DF</td>
							<td>México</td>
							<td>12</td>
						</tr>
						<tr>
							<td>8</td>
							<td>Cinemex Las Americas Ecatepec</td>
							<td>Estado de México</td>
							<td></td>
							<td>7</td>
						</tr>
						<tr>
							<td>9</td>
							<td>Cinemex Los Reyes</td>
							<td>DF</td>
							<td>México</td>
							<td>10</td>
						</tr>
						<tr>
							<td>10</td>
							<td>Cinemex Misterios</td>
							<td>DF</td>
							<td>México</td>
							<td>10</td>
						</tr>
						<tr>
							<td>11</td>
							<td>Cinemex Ojo de Agua</td>
							<td>Estado de México</td>
							<td></td>
							<td>8</td>
						</tr>
						<tr>
							<td>12</td>
							<td>Cinemex Palomas</td>
							<td>Estado de México</td>
							<td></td>
							<td>10</td>
						</tr>
						<tr>
							<td>13</td>
							<td>Cinemex Paseo Chalco</td>
							<td>Estado de México</td>
							<td>Chalco</td>
							<td>8</td>
						</tr>
						<tr>
							<td>14</td>
							<td>Cinemex plaza oriente</td>
							<td>DF</td>
							<td>México</td>
							<td>10</td>
						</tr>
						<tr>
							<td>15</td>
							<td>Cinemex Rosario</td>
							<td>DF</td>
							<td>México</td>
							<td>10</td>
						</tr>
						<tr>
							<td>16</td>
							<td>Cinemex San Esteban</td>
							<td>Estado de México</td>
							<td></td>
							<td>11</td>
						</tr>
						<tr>
							<td>17</td>
							<td>Cinemex Santin</td>
							<td>Estado de México</td>
							<td>Toluca</td>
							<td>9</td>
						</tr>
						<tr>
							<td>18</td>
							<td>Cinemex La Pilita</td>
							<td>Estado de México</td>
							<td>Toluca</td>
							<td>7</td>
						</tr>
						<tr>
							<td>19</td>
							<td>Cinemex Tecamac</td>
							<td>Estado de México</td>
							<td></td>
							<td>11</td>
						</tr>
						<tr>
							<td>20</td>
							<td>Cinemex tlahuac</td>
							<td>DF</td>
							<td>México</td>
							<td>10</td>
						</tr>
						<tr>
							<td>21</td>
							<td>Cinemex Tultitlan</td>
							<td>Estado de México</td>
							<td>Estado de México</td>
							<td>5</td>
						</tr>
						<tr>
							<td>22</td>
							<td>Cinemex Zaragoza</td>
							<td>DF</td>
							<td>México</td>
							<td>12</td>
						</tr>
						<tr>
							<td>23</td>
							<td>Lumiere Centro Telmex</td>
							<td>DF</td>
							<td>México</td>
							<td>10</td>
						</tr>
						<tr>
							<td>24</td>
							<td>Lumiere Chalco</td>
							<td>Estado de México</td>
							<td>Chalco</td>
							<td>10</td>
						</tr>
						<tr>
							<td>25</td>
							<td>Lumiere La Joya</td>
							<td>Estado de México</td>
							<td>Estado de México</td>
							<td>10</td>
						</tr>
						<tr>
							<td>26</td>
							<td>Lumiere La Via</td>
							<td>Estado de México</td>
							<td>Estado de México</td>
							<td>10</td>
						</tr>
						<tr>
							<td>27</td>
							<td>Lumiere Plaza Bella Coacalco</td>
							<td>Estado de México</td>
							<td>Estado de México</td>
							<td>11</td>
						</tr>
						<tr>
							<td>28</td>
							<td>Lumiere Prado Coapa</td>
							<td>DF</td>
							<td>México</td>
							<td>10</td>
						</tr>
						<tr>
							<td>29</td>
							<td>Lumiere Puerta Texcoco</td>
							<td>Estado de México</td>
							<td>Texcoco</td>
							<td>11</td>
						</tr>
						<tr>
							<td>30</td>
							<td>Lumiere Reforma</td>
							<td>DF</td>
							<td>México</td>
							<td>4</td>
						</tr>
						<tr>
							<td>31</td>
							<td>Lumiere Texcoco</td>
							<td>Estado de México</td>
							<td>Estado de México</td>
							<td>10</td>
						</tr>
						<tr>
							<td>32</td>
							<td>Lumiere Tlalpan</td>
							<td>DF</td>
							<td>México</td>
							<td>8</td>
						</tr>
						<tr>
							<td>33</td>
							<td>Cinemex oceanic acapulco</td>
							<td>Acapulco</td>
							<td>Guerrero</td>
							<td>8</td>
						</tr>
						<tr>
							<td>34</td>
							<td>Cinemex expoplaza aguascalientes</td>
							<td>Aguascalientes</td>
							<td>Aguascalientes</td>
							<td>10</td>
						</tr>
						<tr>
							<td>35</td>
							<td>Cinemex mundo divertido Tijuana</td>
							<td>Baja California Norte</td>
							<td>Tijuana</td>
							<td>12</td>
						</tr>
						<tr>
							<td>36</td>
							<td>Cinemex Oasis</td>
							<td>Baja California Norte</td>
							<td>Tijuana</td>
							<td>9</td>
						</tr>
						<tr>
							<td>37</td>
							<td>Cinemex Pavilion</td>
							<td>Baja California Norte</td>
							<td>Tijuana</td>
							<td>7</td>
						</tr>
						<tr>
							<td>38</td>
							<td>Cinemex  La Paz</td>
							<td>Baja California</td>
							<td>La Paz</td>
							<td>10</td>
						</tr>
						<tr>
							<td>39</td>
							<td>MMC Loma Bonita</td>
							<td>Baja California Norte</td>
							<td>Tijuana</td>
							<td>8</td>
						</tr>
						<tr>
							<td>40</td>
							<td>MMC Ciudad del Carmen</td>
							<td>Campeche</td>
							<td>Cd del Carmen</td>
							<td>6</td>
						</tr>
						<tr>
							<td>41</td>
							<td>Cinemex Palmira</td>
							<td>Campeche</td>
							<td>Cd del Carmen</td>
							<td>10</td>
						</tr>
						<tr>
							<td>42</td>
							<td>Cinemex plaza el camino cd juarez</td>
							<td>Chihuahua</td>
							<td>Cd. Juárez</td>
							<td>10</td>
						</tr>
						<tr>
							<td>43</td>
							<td>Cinemex hollywood chihuahua</td>
							<td>Chihuahua</td>
							<td>Chihuahua</td>
							<td>12</td>
						</tr>
						<tr>
							<td>44</td>
							<td>Cinemex Juventud</td>
							<td>Chihuahua</td>
							<td>Chihuahua</td>
							<td>5</td>
						</tr>
						<tr>
							<td>45</td>
							<td>MMC Mirador</td>
							<td>Chihuahua</td>
							<td>Chihuahua</td>
							<td>10</td>
						</tr>
						<tr>
							<td>46</td>
							<td>MMC San Lorenzo</td>
							<td>Chihuahua</td>
							<td>Cd. Juárez</td>
							<td>10</td>
						</tr>
						<tr>
							<td>47</td>
							<td>MMC Delicias</td>
							<td>Chihuahua</td>
							<td>Cd. Delicias</td>
							<td>8</td>
						</tr>
						<tr>
							<td>48</td>
							<td>MMC Fuentes Mares</td>
							<td>Chihuahua</td>
							<td>Chihuahua</td>
							<td>6</td>
						</tr>
						<tr>
							<td>49</td>
							<td>MMC Sanders</td>
							<td>Chihuahua</td>
							<td>Cd. Juárez</td>
							<td>6</td>
						</tr>
						<tr>
							<td>50</td>
							<td>Cinemex saltillo</td>
							<td>Coahuila</td>
							<td>Saltillo</td>
							<td>5</td>
						</tr>
						<tr>
							<td>51</td>
							<td>MMC Torreón</td>
							<td>Coahuila</td>
							<td>Torreón</td>
							<td>10</td>
						</tr>
						<tr>
							<td>52</td>
							<td>Cinemex Hamburgo</td>
							<td>Durango</td>
							<td>Durango</td>
							<td>5</td>
						</tr>
						<tr>
							<td>53</td>
							<td>MMX Gómez Palacio</td>
							<td>Durango</td>
							<td>Gómez Palacio</td>
							<td>8</td>
						</tr>
						<tr>
							<td>54</td>
							<td>MMC Malecón</td>
							<td>Guanajuato</td>
							<td>León</td>
							<td>6</td>
						</tr>
						<tr>
							<td>55</td>
							<td>Cinemex San Roque</td>
							<td>Guanajuato</td>
							<td>Guanajuato</td>
							<td>5</td>
						</tr>
						<tr>
							<td>56</td>
							<td>Cinemex Las Palmas II</td>
							<td>Guerrero</td>
							<td>Acapulco</td>
							<td>12</td>
						</tr>
						<tr>
							<td>57</td>
							<td>Lumiere Gran Patio Pachuca</td>
							<td>Hidalgo</td>
							<td>Pachuca</td>
							<td>10</td>
						</tr>
						<tr>
							<td>58</td>
							<td>MMC Pachuca Q</td>
							<td>Hidalgo</td>
							<td>Pachuca</td>
							<td>12</td>
						</tr>
						<tr>
							<td>59</td>
							<td>MMC Pachuca</td>
							<td>Hidalgo</td>
							<td>Pachuca</td>
							<td>7</td>
						</tr>
						<tr>
							<td>60</td>
							<td>MMC Tulancingo</td>
							<td>Hidalgo</td>
							<td>Tulancingo</td>
							<td>8</td>
						</tr>
						<tr>
							<td>61</td>
							<td>Cinemex irapuato</td>
							<td>Irapuato</td>
							<td>Guanajuato</td>
							<td>10</td>
						</tr>
						<tr>
							<td>62</td>
							<td>Cinemex plaza caracol vallarta</td>
							<td>Jalisco</td>
							<td>Puerto Vallarta</td>
							<td>8</td>
						</tr>
						<tr>
							<td>63</td>
							<td>Lumiere Zapopan</td>
							<td>Jalisco</td>
							<td>Guadalajara</td>
							<td>14</td>
						</tr>
						<tr>
							<td>64</td>
							<td>MMC Cordilleras</td>
							<td>Jalisco</td>
							<td>Guadalajara</td>
							<td>9</td>
						</tr>
						<tr>
							<td>65</td>
							<td>MMC Tlaquepaque</td>
							<td>Jalisco</td>
							<td>Guadalajara</td>
							<td>10</td>
						</tr>
						<tr>
							<td>66</td>
							<td>Cinemex San Gaspar</td>
							<td>Jalisco</td>
							<td>Guadalajara</td>
							<td>10</td>
						</tr>
						<tr>
							<td>67</td>
							<td>MMC Ocotlán</td>
							<td>Jalisco</td>
							<td>Ocotlán</td>
							<td>6</td>
						</tr>
						<tr>
							<td>68</td>
							<td>MMC Cd Guzmán</td>
							<td>Jalisco</td>
							<td>Cd Guzmán</td>
							<td>6</td>
						</tr>
						<tr>
							<td>69</td>
							<td>Cinemex Lazaro Cardenas</td>
							<td>Michoacan</td>
							<td>Morelia</td>
							<td>6</td>
						</tr>
						<tr>
							<td>70</td>
							<td>Cinemex Zamora</td>
							<td>Michoacan</td>
							<td>Zamora</td>
							<td>7</td>
						</tr>
						<tr>
							<td>71</td>
							<td>Lumiere Cortijo</td>
							<td>DF</td>
							<td>México</td>
							<td>12</td>
						</tr>
						<tr>
							<td>72</td>
							<td>MMC Tepic</td>
							<td>Nayarit</td>
							<td>Tepic</td>
							<td>9</td>
						</tr>
						<tr>
							<td>73</td>
							<td>MMC Cumbres</td>
							<td>Nuevo León</td>
							<td>Monterrey</td>
							<td>10</td>
						</tr>
						<tr>
							<td>74</td>
							<td>MMC Lindavista</td>
							<td>Nuevo León</td>
							<td>Monterrey</td>
							<td>12</td>
						</tr>
						<tr>
							<td>75</td>
							<td>MMC Las Américas</td>
							<td>Nuevo León</td>
							<td>Monterrey</td>
							<td>12</td>
						</tr>
						<tr>
							<td>76</td>
							<td>MMC Santo Domingo</td>
							<td>Nuevo León</td>
							<td>Monterrey</td>
							<td>10</td>
						</tr>
						<tr>
							<td>77</td>
							<td>MMC Lincoln</td>
							<td>Nuevo León</td>
							<td>Monterrey</td>
							<td>9</td>
						</tr>
						<tr>
							<td>78</td>
							<td>MMC Sun Mall Juárez</td>
							<td>Nuevo León</td>
							<td>Monterrey</td>
							<td>10</td>
						</tr>
						<tr>
							<td>79</td>
							<td>MMC Concordia Apodada</td>
							<td>Nuevo León</td>
							<td>Monterrey</td>
							<td>8</td>
						</tr>
						<tr>
							<td>80</td>
							<td>Cinemex Fiesta Anahuac</td>
							<td>Nuevo León</td>
							<td>Monterrey</td>
							<td>10</td>
						</tr>
						<tr>
							<td>81</td>
							<td>MMC Escobedo</td>
							<td>Nuevo León</td>
							<td>Monterrey</td>
							<td>6</td>
						</tr>
						<tr>
							<td>82</td>
							<td>Cinemex Plaza Bella Oaxaca</td>
							<td>Oaxaca</td>
							<td>Oaxaca</td>
							<td>11</td>
						</tr>
						<tr>
							<td>83</td>
							<td>MMC Oaxaca</td>
							<td>Oaxaca</td>
							<td>Oaxaca</td>
							<td>10</td>
						</tr>
						<tr>
							<td>84</td>
							<td>Cinemex Salina Cruz</td>
							<td>Oaxaca</td>
							<td>Oaxaca</td>
							<td>10</td>
						</tr>
						<tr>
							<td>85</td>
							<td>MMC Tuxtepec</td>
							<td>Oaxaca</td>
							<td>Tuxtepec</td>
							<td>8</td>
						</tr>
						<tr>
							<td>86</td>
							<td>Lumiere Plaza Dorada Puebla</td>
							<td>Puebla</td>
							<td>Puebla</td>
							<td>10</td>
						</tr>
						<tr>
							<td>87</td>
							<td>MMC Del Parque</td>
							<td>Puebla</td>
							<td>Puebla</td>
							<td>9</td>
						</tr>
						<tr>
							<td>88</td>
							<td>MMC Centro</td>
							<td>Puebla</td>
							<td>Puebla</td>
							<td>8</td>
						</tr>
						<tr>
							<td>89</td>
							<td>Cinemex centro sur queretaro</td>
							<td>Queretaro</td>
							<td>Queretaro</td>
							<td>7</td>
						</tr>
						<tr>
							<td>90</td>
							<td>Cinemex Constituyentes</td>
							<td>Queretaro</td>
							<td>Queretaro</td>
							<td>10</td>
						</tr>
						<tr>
							<td>91</td>
							<td>Cinemex Candiles</td>
							<td>Queretaro</td>
							<td>Queretaro</td>
							<td>9</td>
						</tr>
						<tr>
							<td>92</td>
							<td>Cinemex San Juan Del Rio</td>
							<td>Queretaro</td>
							<td>Queretaro</td>
							<td>12</td>
						</tr>
						<tr>
							<td>93</td>
							<td>Cinemex Playa del Carmen</td>
							<td>Quintana Roo</td>
							<td>Playa Del Carmen</td>
							<td>9</td>
						</tr>
						<tr>
							<td>94</td>
							<td>Cinemex  Multiplaza Cancun</td>
							<td>Quintana Roo</td>
							<td>Cancun</td>
							<td>10</td>
						</tr>
						<tr>
							<td>95</td>
							<td>Cinemex Chetumal</td>
							<td>Quintana Roo</td>
							<td>Chetumal</td>
							<td>8</td>
						</tr>
						<tr>
							<td>96</td>
							<td>MMC Cd. Valles</td>
							<td>San Luis Potosí</td>
							<td>Cd. Valles</td>
							<td>9</td>
						</tr>
						<tr>
							<td>97</td>
							<td>Cinemex  El Paseo</td>
							<td>San Luis Potosí</td>
							<td>San Luis Potosí</td>
							<td>10</td>
						</tr>
						<tr>
							<td>98</td>
							<td>Cinemex Citadela</td>
							<td>San Luis Potosí</td>
							<td>San Luis Potosí</td>
							<td>11</td>
						</tr>
						<tr>
							<td>99</td>
							<td>MMC El Toreo</td>
							<td>Sinaloa</td>
							<td>Mazatlán</td>
							<td>7</td>
						</tr>
						<tr>
							<td>100</td>
							<td>MMC Los Mochis</td>
							<td>Sinaloa</td>
							<td>Los Mochis</td>
							<td>11</td>
						</tr>
						<tr>
							<td>101</td>
							<td>MMC Mazatlán</td>
							<td>Sinaloa</td>
							<td>Mazatlán</td>
							<td>10</td>
						</tr>
						<tr>
							<td>102</td>
							<td>MMC Plaza Culiacán</td>
							<td>Sinaloa</td>
							<td>Culiacán</td>
							<td>10</td>
						</tr>
						<tr>
							<td>103</td>
							<td>MMC Guamuchil</td>
							<td>Sinaloa</td>
							<td>Guamuchil</td>
							<td>5</td>
						</tr>
						<tr>
							<td>104</td>
							<td>MMC Guasave</td>
							<td>Sinaloa</td>
							<td>Guasave</td>
							<td>6</td>
						</tr>
						<tr>
							<td>105</td>
							<td>cinemex Galerias Mazatlan</td>
							<td>Sinaloa</td>
							<td>Mazatlan</td>
							<td>13</td>
						</tr>
						<tr>
							<td>106</td>
							<td>Cinemex Cananea</td>
							<td>Sonora</td>
							<td>Cananea</td>
							<td>4</td>
						</tr>
						<tr>
							<td>107</td>
							<td>Cinemex mirador hermosillo</td>
							<td>Sonora</td>
							<td>Hermosillo</td>
							<td>9</td>
						</tr>
						<tr>
							<td>108</td>
							<td>Cinemex metro centro hermosillo</td>
							<td>Sonora</td>
							<td>Hermosillo</td>
							<td>10</td>
						</tr>
						<tr>
							<td>109</td>
							<td>MMC Guaymas</td>
							<td>Sonora</td>
							<td>Guaymas</td>
							<td>8</td>
						</tr>
						<tr>
							<td>110</td>
							<td>MMC Encinas</td>
							<td>Sonora</td>
							<td>Hermosillo</td>
							<td>11</td>
						</tr>
						<tr>
							<td>111</td>
							<td>MMC Navojoa</td>
							<td>Sonora</td>
							<td>Navojoa</td>
							<td>8</td>
						</tr>
						<tr>
							<td>112</td>
							<td>MMC Plaza Goya</td>
							<td>Sonora</td>
							<td>Obregón</td>
							<td>12</td>
						</tr>
						<tr>
							<td>113</td>
							<td>Cinemex Nacozari</td>
							<td>Sonora</td>
							<td>Nacozari</td>
							<td>3</td>
						</tr>
						<tr>
							<td>114</td>
							<td>MMC Cárdenas</td>
							<td>Tabasco</td>
							<td>Cárdenas</td>
							<td>7</td>
						</tr>
						<tr>
							<td>115</td>
							<td>Cinemex  Altabrisa</td>
							<td>Tabasco</td>
							<td>Villahermosa</td>
							<td>15</td>
						</tr>
						<tr>
							<td>116</td>
							<td>MMC Villahermosa</td>
							<td>Tabasco</td>
							<td>Villahermosa</td>
							<td>10</td>
						</tr>
						<tr>
							<td>117</td>
							<td>MMC Dos Laredos</td>
							<td>Tamaulipas</td>
							<td>Nuevo Laredo</td>
							<td>8</td>
						</tr>
						<tr >

							 <td >118</td>
							 <td >MMC Matamoros</td>
							 <td >Tamaulipas</td>
							 <td >Matamoros</td>
							 <td >9</td>
						  </tr>
						  <tr >
							 <td >119</td>
							 <td >MMC Plaza Real N. Laredo</td>
							 <td >Tamaulipas</td>
							 <td >Nuevo Laredo</td>
							 <td >7</td>
						  </tr>
						  <tr >

							 <td >120</td>
							 <td >MMC Tampico</td>
							 <td >Tamaulipas</td>
							 <td >Tampico</td>
							 <td >10</td>
						  </tr>
						  <tr >

							 <td >121</td>
							 <td >MMC Zona Dorada</td>
							 <td >Tamaulipas</td>
							 <td >Reynosa</td>
							 <td >10</td>
						  </tr>
						  <tr >

							 <td >122</td>
							 <td >MMC Cd. Mante</td>
							 <td >Tamaulipas</td>
							 <td >Cd. Mante</td>
							 <td >5</td>
						  </tr>
						  <tr >

							 <td >123</td>
							 <td >MMC Cd. Victoria</td>
							 <td >Tamaulipas</td>
							 <td >Cd. Victoria</td>
							 <td >5</td>
						  </tr>
						  <tr >

							 <td >124</td>
							 <td >Cinemex  Plaza Bella Río Bravo</td>
							 <td >Tamaulipas</td>
							 <td >Río Bravo</td>
							 <td >7</td>
						  </tr>
						  <tr >

							 <td >125</td>
							 <td >Cinemex galerias tuxtla</td>
							 <td >Chiapas</td>
							 <td >Tuxtla Gutierrez</td>
							 <td >8</td>
						  </tr>
						  <tr >

							 <td >126</td>
							 <td >Cinemex Tapachula</td>
							 <td >Chiapas</td>
							 <td >Tapachula</td>
							 <td >7</td>
						  </tr>
						  <tr >

							 <td >127</td>
							 <td >MMC Las Palmas</td>
							 <td >Veracruz</td>
							 <td >Veracruz</td>
							 <td >12</td>
						  </tr>
						  <tr >

							 <td >128</td>
							 <td >MMC Poza Rica</td>
							 <td >Veracruz</td>
							 <td >Poza Rica</td>
							 <td >6</td>
						  </tr>
						  <tr >

							 <td >129</td>
							 <td >MMC El Palmar</td>
							 <td >Veracruz</td>
							 <td >Coatzacoalcos</td>
							 <td >8</td>
						  </tr>
						  <tr >

							 <td >130</td>
							 <td >MMC Los Pinos</td>
							 <td >Veracruz</td>
							 <td >Veracruz</td>
							 <td >10</td>
						  </tr>
						  <tr >

							 <td >131</td>
							 <td >Cinemex Valladolid</td>
							 <td >Yucatan</td>
							 <td >Merida</td>
							 <td >3</td>
						  </tr>
						  <tr >

							 <td >132</td>
							 <td >Cinemex  Canek</td>
							 <td >Yucatan</td>
							 <td >Merida</td>
							 <td >12</td>
						  </tr>
						  <tr >

							 <td >133</td>
							 <td >Cinemex  Gran Plaza Merida</td>
							 <td >Yucatán</td>
							 <td >Mérida</td>
							 <td >7</td>
						  </tr>
						  <tr >

							 <td >134</td>
							 <td >MMC Macroplaza </td>
							 <td >Yucatán</td>
							 <td >Mérida</td>
							 <td >10</td>
						  </tr>
						  <tr >

							 <td >135</td>
							 <td >MMC Rex</td>
							 <td >Yucatán</td>
							 <td >Mérida</td>
							 <td >2</td>
						  </tr>
						  <tr >

							 <td >136</td>
							 <td >MMC Fresnillo</td>
							 <td >Zacatecas</td>
							 <td >Fresnillo</td>
							 <td >4</td>
						  </tr>
						<tr>
							<td>137</td>
							<td></td>
							<td></td>
							<td><strong>TOTAL</strong></td>
							<td><strong>1,203</strong></td>
						</tr>
					  </tbody>
					</table>
				<!-- </div> -->
			</div>
		</div>

	</div>
</section>
