<form class="form-vertical" method="post" class="inner" id="addArt">
    <div class="control-group">
          <label for="content_0" class="control-label">Elegir arte:</label>
          <div class="controls">
                <select  id="content_0" class="span10 content_version" name="arts[0][_id]" required="required">
                </select>
                <input type="hidden" id="version_0" name="arts[0][version]" class="version_text">
          </div>
    </div>

    <hr>
    <div class="control-group">
          <div class="controls">
                <button class="btn btn-small btn-primary btn-block"><i class="icon-plus"></i> Agregar </button>
          </div>
    </div>

</form>