
<table style='background-color:#ffffff;font-family:sans-serif' cellpadding='0' cellspacing='0' align='center' bgcolor='#fafafa' border='0' width='100%'>
  <tbody>
    <tr>
      <td align='center' width='100%'>
        <table style='width:550px' cellpadding='0' cellspacing='0' align='center' border='0'>
          <tbody>
            <tr>
              <td style='background-color:#fafafa;margin:0;border-collapse:collapse;border-radius:3px;border:1px solid #cccccc' align='center' bgcolor='#ffffff'>
                <table style='border-collapse:collapse' cellpadding='0' cellspacing='0' border='0'>
                  <tbody>
                    <tr>
                      <td colspan='3' height='30'>&nbsp;</td>
                    </tr>
                    <tr>
                      <td width='30'>&nbsp;</td>
                      <td width='490'>
                        <table style='font-family:sans-serif;' cellpadding='0' cellspacing='0' width='100%'>
                          <tbody>

                            <tr>
                              <td style='font-size:16px; color:#252525;font-weight:300;padding-bottom:7px;text-align:left'>
                                <h2 style='border-bottom:3px solid #666; font-size:22px; font-weight:700; letter-spacing:-1px; '>
                                 <!--  <b>IClic Auditor:</b>  --><label style='color:#464646' target='_blank'> <%- title %> </label>
                                </h2>

                                <p style='color:#464646'> <%- main_message %> </p>

                                <%- second_message %>


                              </td>
                            </tr>



                          </tbody>
                        </table>
                      </td>
                      <td width='30'>&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan='3' height='30'>&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td colspan='3' height='30'>&nbsp;</td>
            </tr>
          </tbody>
        </table>

          <div>
               <hr class="border:0; background:#eeeeee; height:1px;" />
                Este es un correo de notificación, no se responderá ningun email sobre este Subject a esta dirección de correo electrónico.
                wwww.iclicauditor.com, todos los derechos reservados © 2014

          </div>

      </td>
    </tr>
  </tbody>
</table>
