<!DOCTYPE html>
 <html lang="en">
<head>
     <!-- Required meta tags always come first -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <meta http-equiv="x-ua-compatible" content="ie=edge">
     <title>Iclic Auditor</title>
     <link href='https://fonts.googleapis.com/css?family=Roboto:100,400,300|Lato:400,300,100|Montserrat:400,700|Raleway:400,100,200,300,500,700,600,800,900' rel='stylesheet' type='text/css'>
 
     <!-- Bootstrap CSS -->
 
     <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" crossorigin="anonymous">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
 
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
 
      <!--SCRIPTS-->
      <script src="/js/Class.js"></script>
      <script src="/js/Core.js"></script>
      <script src="/js/Core/App.js"></script>
      <script src="/js/Core/Apps.js"></script>
      <script src="/js/Core/Customers.js"></script>
      <script src="/js/Core/Customers/Amortization.js"></script>
      <script src="/js/Core/Customers/Form.js"></script>
      <script src="/js/Core/Customers/Membership.js"></script>
      <script src="/js/Core/Customers/Monthly.js"></script>
      <script src="/js/Core/Customers/Payments.js"></script>
      <script src="/js/Core/Customers/Resumen.js"></script>
      <script src="/js/Core/Dashboard.js"></script>
      <script src="/js/Core/Lists.js"></script>
      <script src="/js/Core/Profile.js"></script>
      <script src="/js/Core/Providers.js"></script>
      <script src="/js/Core/Sells.js"></script>
      <script src="/js/Core/Settings.js"></script>
      <script src="/js/Core/Users.js"></script>
      <!--SCRIPTS END-->
 
 
     <!-- Main Style Theme -->
     <link type="text/css" rel="stylesheet" href="/css/styles.css"  media="screen,projection"/>
     <link type="text/css" rel="stylesheet" href="/css/login.css"  media="screen,projection"/>
 
   </head>
  <body>
 
 <nav class="navbar navbar-fixed-top navbar-dark bg-inverse nav-schoolar ">
   <div class="container">
   <a class="navbar-brand" href="#">Iclic  <cite>Auditor</cite></a>
   <div class="col-sm-5 pull-xs-left">
       <input class="form-control schoolar-search" id="schoolar-search" type="text" placeholder="Search">
   </div>
     <ul class="nav navbar-nav pull-xs-left">
 
       <li class="nav-item active">
         <a class="nav-link" href="/login/">Login <span class="sr-only">(current)</span></a>
       </li>
 
       <li class="nav-item">
           <a class="nav-link" href="/activate/active">Activar Cuenta</a>
       </li>
       <li class="nav-item">
           <a class="nav-link" href="/help"><i class="fa fa-comment"></i> Help </a>
       </li>
 
 
 
     </ul>
   </div>
 </nav>
 
 <div class="container ">
    <div class="row  page">
        <div class="col-md-12 col-lg-12 col-xl-12 content ">
           <%- body %>
       </div>
 </div>
 
     <script type="text/javascript">
 
     </script>
 
     </script>
   </body>
 </html>