
<div class="row">
      <div class="col s12">
            
             <div class="row gridpages">
              <div class="col s1 orange">1</div>
              <div class="col s1 orange">2</div>
              <div class="col s1 orange">3</div>
              <div class="col s1 orange">4</div>
              <div class="col s1 orange">5</div>
              <div class="col s1 orange">6</div>
              <div class="col s1 orange">7</div>
              <div class="col s1 orange">8</div>
              <div class="col s1 orange">9</div>
              <div class="col s1 orange">10</div>
              <div class="col s1 orange">11</div>
              <div class="col s1 orange">12</div>
            </div>

      </div>
      <div class="col s6">This div is 6-columns wide</div>
      <div class="col s6">This div is 6-columns wide</div>
    </div>
          
 
 