

      <div class="row">
           <div class="col-xs-12 col-sm-7 col-md-5 col-lg-5">
            <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Resumen General <!-- <span>&gt; My Dashboard</span> --></h1>
          </div>
      </div>



  <% if( parseInt(session.user.role) == 1 || parseInt(session.user.role) == 2 ){ %>

<div class="row app-stats">

  <div class=" col-md-3">
    <div class="panel panel-default">
        <div class="panel-body">
          <div class="padding-10">
            <span class="fa fa-3x fa-users"></span>
            <b id="users_count">0</b>
            <p>Usuarios</p>
          </div>
        </div>
      </div>
  </div>

   <div class=" col-md-3">
    <div class="panel panel-default">
        <div class="panel-body">
          <div class="padding-10">
           <span class="fa fa-3x fa-map-marker"></span>
            <b id="providers_count">0</b>
            <p>Proveedores</p>
          </div>
        </div>
      </div>
  </div>

  <div class=" col-md-3">
    <div class="panel panel-default">
        <div class="panel-body">
          <div class="padding-10">
          <span class="fa fa-3x fa-globe"></span>
          <b id="locations_count">0</b>
          <p>Espacios</p>
          </div>
        </div>
      </div>
  </div>

  <div class=" col-md-3">
    <div class="panel panel-default">
        <div class="panel-body">
          <div class="padding-10">
           <span class="fa fa-3x fa-ticket"></span>
            <b id="anomalias_count">0</b>
            <p>Anomalias</p>
          </div>
        </div>
      </div>
  </div>

  <div class="fix"></div>

  </div>

</div>



	 <section id="mainPane">

          <div class="col-xs-12">

            <div class="panel panel-default">
              <div class="panel-heading">
                <span class="widget-icon">
                  <i class="glyphicon glyphicon-stats txt-color-darken"></i>
                </span>
                <h2>Live Feeds </h2>

                    <ul id="mainpane-tab" class="nav nav-tabs pull-right">
                      <li class="active"><a href="#home" data-toggle="tab">
                        <i class="fa fa-clock-o"></i>
                        Live Stats
                      </a></li>
                      <li><a href="#profile" data-toggle="tab">
                        <i class="fa fa-facebook"></i>
                        Social network
                      </a></li>
                      <li><a href="#messages" data-toggle="tab">
                        <i class="fa fa-dollar"></i>
                        Revenue
                      </a></li>
                    </ul>
              </div> <!-- end panel head -->
              <div class="panel-body">
                    <div class="tab-content padding-10">
                      <div class="tab-pane fade in active row no-space" id="home">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" >
                          <div id="chart-1"></div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 show-stats">
                          <h2><i class="fa fa-th-large"></i> Más información</h2>
                          <hr/>
                          <div class="row">

                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                              <span class="text"> Carga de Datos
                                <span class="pull-right" id="load_data">130/200</span>
                              </span>
                              <div class="progress">
                                <div class="progress-bar bg-color-blueDark" id="bar_load_data" style="width: 65%;"></div>
                              </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                              <span class="text"> Transfered
                                <span class="pull-right">440 GB</span>
                              </span>
                              <div class="progress">
                                <div class="progress-bar bg-color-blue" style="width: 34%;"></div>
                              </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                              <span class="text"> Bugs Squashed
                                <span class="pull-right">77%</span>
                              </span>
                              <div class="progress">
                                <div class="progress-bar bg-color-blue" style="width: 77%;"></div>
                              </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                              <span class="text"> User Testing
                                <span class="pull-right">7 Days</span>
                              </span>
                              <div class="progress">
                                <div class="progress-bar bg-color-greenLight" style="width: 84%;"></div>
                              </div>
                            </div>

                            <span class="show-stat-buttons">
                              <span class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <a href="javascript:void(0);" class="btn btn-default btn-block hidden-xs">Generate PDF</a>
                              </span>
                              <span class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <a href="javascript:void(0);" class="btn btn-default btn-block hidden-xs">Report a bug</a>
                              </span>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade row no-space" id="profile">..2.</div>
                      <div class="tab-pane fade row no-space" id="messages">.3..</div>
                    </div>
              </div>
            </div>

          </div>
        </section>




        <script type="text/javascript">
          $('#mainpane-tab a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
          })
        </script>


<script type="text/javascript">
      $(function () {
              $('#chart-1').highcharts({
                  chart: {
                    type:       'area',
                    height: 300
                  },
                  title: {
                      text: 'Area chart with negative values'
                  },
                  xAxis: {
                      categories: ['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas']
                  },
                  credits: {
                      enabled: false
                  },
                  series: [{
                      name: 'John',
                      data: [2, 3, 4, 3, 2]
                  }, {
                      name: 'Jane',
                      data: [2, -2, -1, 2, 1]
                  }, {
                      name: 'Joe',
                      data: [3, 1, 4, -2, 2]
                  }]
              });
          });

    </script>

    <script>

      // $(document).ready(function() {

      //   $('#calendar').fullCalendar({
      //     defaultDate: '2014-06-12',
      //     editable: true,
      //     events: [
      //       {
      //         title: 'All Day Event',
      //         start: '2014-06-01'
      //       },
      //       {
      //         title: 'Long Event',
      //         start: '2014-06-07',
      //         end: '2014-06-10'
      //       },
      //       {
      //         id: 999,
      //         title: 'Repeating Event',
      //         start: '2014-06-09T16:00:00'
      //       },
      //       {
      //         id: 999,
      //         title: 'Repeating Event',
      //         start: '2014-06-16T16:00:00'
      //       },
      //       {
      //         title: 'Meeting',
      //         start: '2014-06-12T10:30:00',
      //         end: '2014-06-12T12:30:00'
      //       },
      //       {
      //         title: 'Lunch',
      //         start: '2014-06-12T12:00:00'
      //       },
      //       {
      //         title: 'Birthday Party',
      //         start: '2014-06-13T07:00:00'
      //       },
      //       {
      //         title: 'Click for Google',
      //         url: 'http://google.com/',
      //         start: '2014-06-28'
      //       }
      //     ]
      //   });

      // });

    </script>

<script type="text/javascript">

    $.get('/dashboard/stats',function(resp){
          for(o in resp.data){
            $('#'+o).html(resp.data[o]);
          }
    });



</script>

<% } %>

