 
 <div class="row segments">  
  
  <div class="col-md-12 wall-picture" style="background:url('https://s3.amazonaws.com/f.cl.ly/items/0j3E223H2A0v203l223U/Wall_32067.jpg?v=b1beb81d')">
        
    <img src="http://2.gravatar.com/avatar/1aa1a9939f5bd3a5fa3d30d84637eb22" alt="Fernando Soto" class="img-thumbnail" width="150px">
    <div class="fullname"> Fernando Soto <span>2do. Grupo A</span> </div>
  </div>

  <hr />

</div>


 <div class="row segments">  

         <div class="card ">

          <div class="card-block">
            <h4 class="card-title"> Alumnos pendientes de pago</h4>
            
             <ul class="list-group">
             
              <li class="list-group-item">
              <span class="label label-danger label-pill pull-xs-right"> 2</span>
              <img src="http://2.gravatar.com/avatar/1aa1a9939f5bd3a5fa3d30d84637eb22" alt="ferso" width="20" class="img-rounded ">  Dapibus ac facilisis in
              </li>
              <li class="list-group-item">
              <span class="label label-danger label-pill pull-xs-right" >1</span>
              <img src="http://2.gravatar.com/avatar/1aa1a9939f5bd3a5fa3d30d84637eb22" alt="ferso" width="20" class="img-rounded "> Morbi leo risus
              </li>
              <li class="list-group-item">
              <span class="label label-danger label-pill pull-xs-right" >2</span>
              <img src="http://2.gravatar.com/avatar/1aa1a9939f5bd3a5fa3d30d84637eb22" alt="ferso" width="20" class="img-rounded ">  Dapibus ac facilisis in
              </li>
              <li class="list-group-item">
              <span class="label label-danger label-pill pull-xs-right" >1</span>
              <img src="http://2.gravatar.com/avatar/1aa1a9939f5bd3a5fa3d30d84637eb22" alt="ferso" width="20" class="img-rounded "> Morbi leo risus
              </li>
            </ul>
            <hr/>
            <a href="#" class="viewmore"><i class="fa fa-plus-square"></i> Ver más en la lista</a>

          </div>

         </div>
        

 </div>
