 <div class="form-group ">
                    <div class="col-sm-6">
                      <label for="inputFirstLastname">Apellido Paterno</label>
                      <input type="text" class="form-control" id="first_lastname"  name="first_lastname" placeholder=""  required>
                      <small class="text-muted">Ingresar el apellido paterno del estudiante</small>
                    </div>

                     <div class="col-sm-6">
                      <label for="inputSecondLastname">Apellido Materno</label>
                      <input type="text" class="form-control" id="second_lastname"  name="second_lastname" placeholder=""  required>
                      <small class="text-muted">Ingresar el apellido materno del estudiante</small>
                    </div>
                  <div class="clearfix"></div>
                </div>


                  <div class="form-group ">
                    <div class="col-sm-12">
                      <label for="inputFirstLastname">Fecha de Nacimiento</label>                    
                    </div>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" id="birth_day" name="birth_day" placeholder="Dia" required>
                      <small class="text-muted">Ingresar el número del dia de la fecha de nacimiento</small>
                    </div>

                     <div class="col-sm-4">
                      <input type="text" class="form-control" id="birth_month" name="birth_month" placeholder="Mes"  required>
                      <small class="text-muted">Ingresar el número del mes de la fecha de nacimiento</small>
                    </div>

                     <div class="col-sm-5">
                      <input type="text" class="form-control" id="birth_year" name="birth_year" placeholder="Año" required>
                      <small class="text-muted">Ingresar el número del año de la fecha de nacimiento a 4 digitos YYYY</small>
                    </div>
                  <div class="clearfix"></div>
                </div>

                 <div class="form-group ">
                  <div class="col-sm-6">
                    <label for="inputEmail">Email</label>
                    <input type="type" class="form-control" id="email" name="email" placeholder=""  autofocus required>
                    <small class="text-muted">Ingresar nombre del estudiante</small>
                  </div>      
                   <div class="col-sm-6">
                    <label for="inputName">Telefóno</label>
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="" autofocus required>
                    <small class="text-muted">Ingresar nombre del estudiante</small>
                  </div>                
                   <div class="clearfix"></div>
                </div>

                <hr/>

                  <!--  mother data -->
                  <div class="form-group ">                                                         
                     <div class="col-sm-5">
                       <label for="inputFirstLastname">Nombre de la madre</label>
                      <input type="text" class="form-control" id="mother_fullname" name="mother_fullname" placeholder="" >
                      <small class="text-muted">Ingresar nombre completo de la madre</small>
                    </div>
                    <div class="col-sm-3">
                       <label for="inputFirstLastname">Apellido paterno</label>
                      <input type="text" class="form-control" id="mother_fullname" name="mother_fullname" placeholder="" >
                      <!-- <small class="text-muted">Ingresar nombre completo de la madre</small> -->
                    </div>
                    <div class="col-sm-3">
                       <label for="inputFirstLastname">Apellido materno</label>
                      <input type="text" class="form-control" id="mother_fullname" name="mother_fullname" placeholder="" >
                      <!-- <small class="text-muted">Ingresar nombre completo de la madre</small> -->
                    </div>
                     <div class="col-sm-1 radiocheck">
                      <label >                         
                        <input type="radio" id="contact" name="contact" value="mother" class="checkbox">                       
                      </label>                       
                    </div>
                     <div class="clearfix"></div>
                </div>

                    <div class="form-group ">    
                    <div class="col-sm-6">
                      <label for="inputFirstLastname">Calle y Número</label>
                      <input type="text" class="form-control" id="father_address" name="father_address" placeholder="" >
                      <small class="text-muted">Ingresar nombre completo del padre</small>
                    </div>   

                    <div class="col-sm-3">
                      <label for="inputFirstLastname">Código Postal</label>
                      <input type="text" class="form-control" id="father_zip" name="father_zip" placeholder="" >
                      <small class="text-muted">Ingresar Código Postal</small>
                    </div>    

                     <div class="clearfix"></div>
                </div>

                  <div class="form-group ">     
                    <div class="col-sm-6">
                      <label for="inputFirstLastname">Telefóno</label>
                      <input type="text" class="form-control" id="mother_phone" name="mother_phone" placeholder="" >
                      <small class="text-muted">Ingresar número telefónico de la madre</small>
                    </div>

                     <div class="col-sm-6">
                      <label for="inputFirstLastname">Correo Electrónico</label>
                      <input type="text" class="form-control" id="mother_email" name="mother_email"  placeholder="" >
                      <small class="text-muted">Ingresar correo electrónico de la madre</small>
                    </div>
                      <div class="clearfix"></div>
                </div>

                <!-- end mother data -->

                 <!--  father data -->

                  <div class="form-group ">                  
                    <div class="col-sm-5">
                      <label for="inputFirstLastname">Nombre padre</label>
                      <input type="text" class="form-control" id="father_name" name="father_name" placeholder="" >
                      <small class="text-muted">Ingresar nombre completo del padre</small>
                    </div>    

                     <div class="col-sm-3">
                      <label for="inputFirstLastname">Apellido Paterno</label>
                      <input type="text" class="form-control" id="father_first_lastname" name="father_first_lastname" placeholder="" >
                      <!-- <small class="text-muted">Ingresar nombre completo del padre</small> -->
                    </div>    

                     <div class="col-sm-3">
                      <label for="inputFirstLastname">Apellido Materno</label>
                      <input type="text" class="form-control" id="father_second_lastname" name="father_second_lastname" placeholder="" >
                      <!-- <small class="text-muted">Ingresar nombre completo del padre</small> -->
                    </div>    

                     <div class="col-sm-1 radiocheck">
                      <label >                         
                        <input type="radio" id="contact" name="contact" value="father" class="checkbox">                       
                      </label>                       
                    </div>
                     <div class="clearfix"></div>
                </div>

                  <div class="form-group ">    
                    <div class="col-sm-6">
                      <label for="inputFirstLastname">Calle y Número</label>
                      <input type="text" class="form-control" id="father_address" name="father_address" placeholder="" >
                      <small class="text-muted">Ingresar nombre completo del padre</small>
                    </div>   

                    <div class="col-sm-3">
                      <label for="inputFirstLastname">Código Postal</label>
                      <input type="text" class="form-control" id="father_zip" name="father_zip" placeholder="" >
                      <small class="text-muted">Ingresar Código Postal</small>
                    </div>    

                     <div class="clearfix"></div>
                </div>
                <div class="form-group ">     
                    <div class="col-sm-6">
                       <label for="inputFirstLastname">Telefóno</label>
                      <input type="text" class="form-control" id="father_phone" name="father_phone" placeholder="" >
                      <small class="text-muted">Ingresar número telefónico del padre</small>
                    </div>

                     <div class="col-sm-6">
                       <label for="inputFirstLastname">Correo Electrónico</label>
                      <input type="text" class="form-control" id="father_email" name="father_email" placeholder="" >
                      <small class="text-muted">Ingresar correo electrónico del padre</small>
                    </div>

                      <div class="clearfix"></div>
                </div>
